<!DOCTYPE html>
<html lang="{{ app.request.locale|slice(0, 2) }}">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    {% block metatags %}
    {% endblock %}
    <title>{% block title %}Sani-fere.com{% endblock %}</title>

    {% block stylesheets %}
        {% stylesheets filter='cssrewrite, scssphp'
        'bundles/app/css/bootstrap.min.css'
        'bundles/app/css/main.css'
        'bundles/app/css/blue.css'
        'bundles/app/css/simple-line-icons.css'
        'bundles/app/css/owl.carousel.css'
        'bundles/app/css/owl.transitions.css'
        'bundles/app/css/animate.min.css'
        'bundles/app/css/rateit.css'
        'bundles/app/css/bootstrap-select.min.css'
        'bundles/app/css/font-awesome.css'
        'assets/shop/css/style.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/shop/css/style.css'} %}

        {{ sonata_block_render_event('sylius.shop.layout.stylesheets') }}
    {% endblock %}

    {{ sonata_block_render_event('sylius.shop.layout.head') }}
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,700,800,900" rel="stylesheet">
</head>
<body class="cnt-home">
{{ sonata_block_render_event('sylius.shop.layout.before_body') }}
<header class="header-style-1">
    {% block top %}
        <div class="top-bar animate-dropdown">
            <div class="container">
                <div class="header-top-inner">
                    <div class="cnt-account">
                        {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

                        {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

                        {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
                    </div>
                    <!-- /.cnt-account -->

                    <div class="cnt-block">
                        <ul class="list-unstyled list-inline">
                            {{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

                            {{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}
                            {{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}

                        </ul>
                        <!-- /.list-unstyled -->
                    </div>
                    <!-- /.cnt-cart -->
                    <div class="clearfix"></div>
                </div>
                <!-- /.header-top-inner -->
            </div>
            <!-- /.container -->
        </div>
    {% endblock %}
    {% block main_header %}
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 logo-holder">
                        <!-- ============================================================= LOGO ============================================================= -->
                        <div class="logo">
                            <a href="{{ path('sylius_shop_homepage') }}">
                                {% image 'bundles/app/images/logo.png' %}
                                <img src="{{ asset_url }}" alt="Logo sani-fere" />
                                {% endimage %}
                            </a>
                        </div>
                        <!-- /.logo -->
                        <!-- ============================================================= LOGO : END ============================================================= --> </div>
                    <!-- /.logo-holder -->

                    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-6 top-search-holder">
                        <!-- /.contact-row -->
                        <!-- ============================================================= SEARCH AREA ============================================================= -->
                        <div class="search-area">
                            <form>
                                <div class="control-group">
                                    <input class="search-field" placeholder="Search here..." />
                                    <a class="search-button" href="#" ></a> </div>
                            </form>
                        </div>
                        <!-- /.search-area -->
                        <!-- ============================================================= SEARCH AREA : END ============================================================= --> </div>
                    <!-- /.top-search-holder -->
                    <div class="col-xs-12 col-sm-10 col-md-3 col-lg-3 header-banner">
                        <img src="assets/images/banners/top-banner-img.jpg" alt="">
                    </div>
                    {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
                    <!-- /.top-cart-row -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>

        {{ sonata_block_render_event('sylius.shop.layout.after_header') }}
        {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'category', 'template': '@SyliusShop/Taxon/_horizontalMenu.html.twig'})) }}

    {% endblock %}
</header>

<div class="body-content outer-top-xs" id="top-banner-and-menu">
    {% block content %} {% endblock %}
</div>


<footer id="footer" class="footer color-bg">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Contactez Nous</h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class="toggle-footer" style="">
                            <li class="media">
                                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i> </span> </div>
                                <div class="media-body">
                                    <p>{{ bitbag_cms_render_block('adresse') }}</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-mobile fa-stack-1x fa-inverse"></i> </span> </div>
                                <div class="media-body">
                                    <p>{{ bitbag_cms_render_block('adresse') }}</p>
                                </div>
                            </li>
                            <li class="media">
                                <div class="pull-left"> <span class="icon fa-stack fa-lg"> <i class="fa fa-envelope fa-stack-1x fa-inverse"></i> </span> </div>
                                <div class="media-body"> <span><a href="#">{{ bitbag_cms_render_block('email') }}</a></span> </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
                <!-- /.col -->

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Service client</h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class='list-unstyled'>
                            <li class="first"><a href="#" title="Contact us">Mon compte</a></li>
                            <li><a href="#" title="About us">Historique de commande</a></li>
                            <li><a href="#" title="faq">FAQ</a></li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
                <!-- /.col -->

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="module-heading">
                        <h4 class="module-title">Sanifere</h4>
                    </div>
                    <!-- /.module-heading -->

                    <div class="module-body">
                        <ul class='list-unstyled'>
                            <li class="first"><a title="Your Account" href="#">A propos de nous</a></li>
                            <li><a title="Information" href="#">Service client</a></li>
                            <li><a title="Addresses" href="#">Compagnie</a></li>
                            <li><a title="Addresses" href="#">Notre equipe</a></li>
                        </ul>
                    </div>
                    <!-- /.module-body -->
                </div>
                <!-- /.col -->

            </div>
        </div>
    </div>
    <div class="copyright-bar">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-padding social">
                <ul class="link">
                    <li class="fb pull-left"><a target="_blank" rel="nofollow" href="#" title="Facebook"></a></li>
                    <li class="tw pull-left"><a target="_blank" rel="nofollow" href="#" title="Twitter"></a></li>
                    <li class="googleplus pull-left"><a target="_blank" rel="nofollow" href="#" title="GooglePlus"></a></li>
                    <li class="rss pull-left"><a target="_blank" rel="nofollow" href="#" title="RSS"></a></li>
                    <li class="pintrest pull-left"><a target="_blank" rel="nofollow" href="#" title="PInterest"></a></li>
                    <li class="linkedin pull-left"><a target="_blank" rel="nofollow" href="#" title="Linkedin"></a></li>
                    <li class="youtube pull-left"><a target="_blank" rel="nofollow" href="#" title="Youtube"></a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 no-padding">
                <div class="clearfix payment-methods">
                    <ul>
                        <li>
                            {% image 'assets/images/payments/1.png' %}
                                <img    src="{{ asset_url }}" alt="" />
                            {% endimage %}
                        </li>
                        <li>
                            {% image 'assets/images/payments/2.png' %}
                                <img    src="{{ asset_url }}" alt="" />
                            {% endimage %}
                        </li>
                        <li>
                            {% image 'assets/images/payments/3.png' %}
                                <img    src="{{ asset_url }}" alt="" />
                            {% endimage %}
                        </li>
                        <li>
                            {% image 'assets/images/payments/4.png' %}
                                <img    src="{{ asset_url }}" alt="" />
                            {% endimage %}
                        </li>
                        <li>
                            {% image 'assets/images/payments/5.png' %}
                                <img    src="{{ asset_url }}" alt="" />
                            {% endimage %}
                        </li>
                    </ul>
                </div>
                <!-- /.payment-methods -->
            </div>
        </div>
    </div>
</footer>


<!-- JavaScripts placed at the end of the document so the pages load faster -->
{% block javascripts %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/shop/js/app.js'} %}

    {% javascripts  filter='jsqueeze'
    'bundles/app/js/jquery-1.11.1.min.js'
    'bundles/app/js/bootstrap.min.js'
    'bundles/app/js/bootstrap-hover-dropdown.min.js'
    'bundles/app/js/owl.carousel.min.js'
    'bundles/app/js/echo.min.js'
    'bundles/app/js/jquery.easing-1.3.min.js'
    'bundles/app/js/bootstrap-slider.min.js'
    'bundles/app/js/jquery.rateit.min.js'
    'bundles/app/js/lightbox.min.js'
    'bundles/app/js/bootstrap-select.min.js'
    'bundles/app/js/wow.min.js'
    'bundles/app/js/scripts.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ sonata_block_render_event('sylius.shop.layout.javascripts') }}
{% endblock %}

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}
{{ sonata_block_render_event('sylius.shop.layout.after_body') }}
</body>
</html>