{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}

    <div class='container'>
        <div class='row single-product'>
            <div class='col-md-12'>
                <div class="detail-block">
                    <div class="row  wow fadeInUp">
                        {{ sonata_block_render_event('sylius.shop.product.show.before_images', {'product': product}) }}

                        <div class="col-sm-4 col-md-4">
                        {% include '@SyliusShop/Product/Show/_images.html.twig' %}

                        </div>

                        {{ sonata_block_render_event('sylius.shop.product.show.after_images', {'product': product}) }}
                        <div class='col-sm-6 col-md-7 product-info-block'>
                            <div class="product-info">
                                <h1 class="name">{{ product.name }}</h1>
                                {{ sonata_block_render_event('sylius.shop.product.show.after_product_header', {'product': product}) }}

                                {% include '@SyliusShop/Product/Show/_reviews.html.twig' %}
                                {{ sonata_block_render_event('sylius.shop.product.show.after_reviews', {'product': product}) }}

                                <div class="stock-container info-container m-t-10">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="stock-box">
                                                <span class="label">Availability :</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="stock-box">
                                                <span class="value">In Stock</span>
                                            </div>
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /.stock-container -->

                                <div class="description-container m-t-20">
                                    {{ product.shortDescription }}
                                </div><!-- /.description-container -->
                                {{ sonata_block_render_event('sylius.shop.product.show.after_description', {'product': product}) }}
                                {% if not product.variants.empty() %}
                                    {% include '@SyliusShop/Product/Show/_price.html.twig' %}
                                {% endif %}
                                {{ sonata_block_render_event('sylius.shop.product.show.after_price', {'product': product}) }}

                                <div class="row">
                                    {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty() %}
                                        {% include '@SyliusShop/Product/Show/_variantsPricing.html.twig' with {'pricing': sylius_product_variant_prices(product, sylius.channel)} %}
                                    {% endif %}

                                </div>

                               <br> <div class="quantity-container info-container">
                                    <div class="row">
                                        {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}
                                    </div><!-- /.row -->
                                </div><!-- /.quantity-container -->

                            </div><!-- /.product-info -->
                        </div><!-- /.col-sm-7 -->
                    </div><!-- /.row -->
                </div>
                {{ sonata_block_render_event('sylius.shop.product.show.before_tabs', {'product': product}) }}
                {% include '@SyliusShop/Product/Show/_tabs.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.product.show.before_associations', {'product': product}) }}

                {% include '@SyliusShop/Product/Show/_associations.html.twig' %}
            </div><!-- /.col -->
            <div class="clearfix"></div>
        </div><!-- /.row -->
        </div>


{% endblock %}
        {% block javascripts %}
            {{ parent() }}

            <script type="text/javascript">
                lightbox.option({
                    'albumLabel': '{{ 'sylius.lightbox.image_album_label'|trans|escape('js') }}'
                });
            </script>
        {% endblock %}