{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% set header = 'sylius.ui.your_shopping_cart' %}

{% block title %}{{ parent() }} | {{ header|trans }}{% endblock %}

{% block content %}

    <div class="container">
        {% if not cart.empty %}
            {% include '@SyliusShop/Cart/Summary/_header.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.cart.summary.after_content_header', {'cart': cart}) }}

            {{ sonata_block_render_event('sylius.shop.cart.summary.before_items', {'cart': cart}) }}


            {% include '@SyliusShop/Cart/Summary/_items.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.cart.summary.after_items', {'cart': cart}) }}


        {% else %}
            {{ messages.info('sylius.ui.your_cart_is_empty') }}
        {% endif %}
    </div>

{% endblock %}
