<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>

                {% if product.mainTaxon is not null %}
                    {% set taxon = product.mainTaxon %}
                    {% set ancestors = taxon.ancestors|reverse %}

                    {% for ancestor in ancestors %}
                        {% if ancestor.isRoot() %}
                            <li>{{ ancestor.name }}</li>
                        {% else %}
                            <li><a href="{{ path('sylius_shop_product_index', {'slug': ancestor.slug, '_locale': ancestor.translation.locale}) }}" class="section">{{ ancestor.name }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <li><a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}" class="section">{{ taxon.name }}</a></li>
                {% endif %}
                <li class='active'>{{ product.name }}</li>
            </ul>
        </div><!-- /.breadcrumb-inner -->
    </div><!-- /.container -->
</div>