{% trans_default_domain 'FOSUserBundle' %}

<h3>Don't have an Account? Register Now.</h3>

<div class="row">
    <div class="col_one_third nobottommargin">
        <div class="feature-box fbox-plain">
            <div class="fbox-icon">
                <a href="#"><i class="i-alt">1.</i></a>
            </div>
            <h3>Regular User.</h3>
            <p>Regular Users can only read the stories in any Forum but cannot write in them. This is good for Users who do not want to write on the site.</p>
        </div>
    </div>
    <div class="col_one_third nobottommargin">
        <div class="feature-box fbox-plain">
            <div class="fbox-icon">
                <a href="#"><i class="i-alt">2.</i></a>
            </div>
            <h3>Power User.</h3>
            <p> You can read, write in any Forum and propose scenes but cannot start a Storyline. This is good for Users who are not yet ready to start a book.</p>
        </div>
    </div>
    <div class="col_one_third col_last nobottommargin">
        <div class="feature-box fbox-plain">
            <div class="fbox-icon">
                <a href="#"><i class="i-alt">3.</i></a>
            </div>
            <h3>Moderator.</h3>
            <p>You can start a book, read and write in any Forum and propose scenes. This is good for Users ready to write their stories and publish their books.</p>
        </div>
    </div>
</div>

<br>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {% if not form.vars.valid %}

            {# Loop through every form item #}
            {% for child in form.children %}
                {# Display the errors of the form item #}
                {%for error in child.vars.errors%}
                    <div class="alert alert-warning">{{error.message}}</div>
                {%endfor%}
            {%endfor%}

    {%endif%}

    <div class="col_half">
        <label for="register-form-name">First name:</label>
        {{ form_widget(form.firstname, {'attr': {'class': 'form-control ', 'placeholder': '' }}) }}

    </div>
    <div class="col_half col_last">
        <label for="register-form-name">Last name:</label>
        {{ form_widget(form.lastname, {'attr': {'class': 'form-control ', 'placeholder': '' }}) }}

    </div>
    <div class="clear"></div>

    <div class="col_half">
        <label for="register-form-name">Email Address:</label>
        {{ form_widget(form.email, {'attr': {'class': 'form-control ', 'placeholder': '' }}) }}

    </div>
    <div class="col_half col_last">
        <label for="register-form-name">Choose a username:</label>
        {{ form_widget(form.username, {'attr': {'class': 'form-control ', 'placeholder': '' }}) }}

    </div>
    <div class="clear"></div>



    <div class="col_half">
        <label for="register-form-password">Choose Password:</label>
        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control ', 'placeholder': '' }}) }}

    </div>

    <div class="col_half col_last">
        <label for="register-form-repassword">Re-enter Password:</label>
        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control ', 'placeholder': '' }}) }}

    </div>

    <div class="clear"></div>
    <div class="col_full ">
        <label for="register-form-repassword">Choose a subscription:</label>
        {{ form_widget(form.roles, {'attr': {'class': '', 'placeholder': '' }}) }}

    </div>
<div class="col_full ">
    {{ form_widget(form.recaptcha, {'attr': {'class': '', 'placeholder': '' }}) }}

</div>


    <div class="clear"></div>

    <div class="col_full nobottommargin">
        <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register">Register Now</button>
    </div>

{{ form_end(form) }}


