{% import '@SyliusUi/Macro/messages.html.twig' as messages %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{{ sonata_block_render_event('sylius.shop.product.index.before_search', {'products': resources.data}) }}
<div class="row">
    <div class="clearfix filters-container m-t-10">
        <div class="row">
            <div class="col col-sm-6 col-md-12">
                <div class="filter-tabs">
                    {% include '@SyliusShop/Product/Index/_search.html.twig' %}
                </div>
                <!-- /.filter-tabs -->
            </div>
        </div>
        <div class="row">
            <!-- /.col --><br>
            <div class="col col-sm-12 col-md-6">
                <div class="col col-sm-3 col-md-6 no-padding">
                    {% include '@SyliusShop/Product/Index/_sorting.html.twig' %}
                </div>
                <!-- /.col -->
                <div class="col col-sm-3 col-md-6 no-padding">
                    {% include '@SyliusShop/Product/Index/_pagination.html.twig' %}
                </div>
                <!-- /.col -->
            </div>

        </div>
        <!-- /.row -->
    </div><br><br>
    <div class="row">
        <div class="search-result-container ">
            {{ sonata_block_render_event('sylius.shop.product.index.before_list', {'products': resources.data}) }}

            {% if resources.data|length > 0 %}
                <div class="ui three column stackable grid" id="products">
                    {% for product in resources.data %}
                        <div class="column">
                            {% include '@SyliusShop/Product/_box.html.twig' %}
                        </div>
                    {% endfor %}
                </div>
                <div class="ui hidden divider"></div>

                {{ sonata_block_render_event('sylius.shop.product.index.before_pagination', {'products': resources.data}) }}

                {{ pagination.simple(resources.data) }}
            {% else %}
                {{ messages.info('sylius.ui.no_results_to_display') }}
            {% endif %}

        </div>
    </div>
</div>
<!-- /.search-result-container -->
