{% extends "NSWebBundle::layout.html.twig" %}

{% block title %} {{ article.title }}{% endblock %}

{% block stylesheet %}
    {% stylesheets '@FOSCommentBundle/Resources/public/css/comments.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="content-wrap">

        <div class="container clearfix">

            <div class="postcontent nobottommargin col_last clearfix">

                <!-- Single Post
                ============================================= -->
                <div class="entry clearfix">

                    <!-- Entry Title
                    ============================================= -->
                    <div class="entry-title">
                        <h2>{{ article.title }}</h2>
                    </div><!-- .entry-title end -->

                    <!-- Entry Meta
                    ============================================= -->
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i> {{ article.createdAt | date('d M Y') }}</li>
                        <li><a href="#"><i class="icon-user"></i> admin</a></li>
                    </ul><!-- .entry-meta end -->

                    <!-- Entry Image
                    ============================================= -->
                    <div class="entry-image bottommargin">
                        <a href="#"><img style="width: 100%; height: 500px;" src="{{ vich_uploader_asset(article, 'photoFile') }}" alt="{{ article.title }}"></a>
                    </div><!-- .entry-image end -->

                    <!-- Entry Content
                    ============================================= -->
                    <div class="entry-content notopmargin" style="font-family: 'Helvetica Neue'; font-size: 15px; text-align: justify;">

                        {{ article.content | raw }}



                        <div class="clear"></div>

                        <!-- Post Single - Share
                        ============================================= -->
                        <div class="si-share noborder clearfix">
                            <span>Share this Post:</span>
                            <div>
                                <a href="#" class="social-icon si-borderless si-facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-pinterest">
                                    <i class="icon-pinterest"></i>
                                    <i class="icon-pinterest"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-gplus">
                                    <i class="icon-gplus"></i>
                                    <i class="icon-gplus"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-rss">
                                    <i class="icon-rss"></i>
                                    <i class="icon-rss"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-email3">
                                    <i class="icon-email3"></i>
                                    <i class="icon-email3"></i>
                                </a>
                            </div>
                        </div><!-- Post Single - Share End -->

                    </div>
                </div><!-- .entry end -->



                <!-- Comments
                ============================================= -->
                <div id="" class="clearfix">
                    {% include '@FOSComment/Thread/async.html.twig' with {'id': article.id } %}

                </div><!-- #comments end -->



            </div>
            <div class="sidebar nobottommargin clearfix">
                <div class="sidebar-widgets-wrap">
                    <div class="fancy-title title-bottom-border">
                        <h3>LATEST NEWS</h3>
                    </div>
                    {{ render(controller(
                    'NS\\WebBundle\\Controller\\MainController::Latest'
                    )) }}
                    <div class="widget clearfix">

                        <h4>Facebook Feeds</h4>
                        <div id="dribbble-widge">
                            <div class="fb-page" data-href="https://www.facebook.com/nextscenes" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/nextscenes" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/nextscenes">Nextscenes</a></blockquote></div>
                        </div>

                    </div>





                </div>

            </div>

        </div>

    </div>
{% endblock %}