{% set t = 0 %}


{% if pagination is empty %}
    <h4 style="color: red">NO PROPOSED SCENES</h4>
{% else %}
    <div class="row">
    {% for proposed in pagination %}


        {% if loop.index is divisible by(3) %}
        <div class="col-md-4 feeds">
            <div class="mpost clearfix" style="font-family: Courier; text-align: justify; word-spacing: 4px">

                <div class="entry-c">
                    <div class="entry-title" style="font-family: Courier; word-spacing: 4px">
                        <h4 style="font-family: Courier; text-align: left; word-spacing: 4px"><a href=""> {{ proposed.title }}</a></h4>
                    </div>
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-user"></i>Created by {{ proposed.publishedBy.firstname }} {{ proposed.publishedBy.lastname }} {{ proposed.createdAt | date('d M Y  h:i:s') }}</li>
                    </ul>
                    <div class="entry-content">
                        {{ proposed.content  | striptags | raw | slice(0, 100)}}
                        <br> <a href="{{ path('ns_web_proposed_scenes_view', { 'id': proposed.id }) }}" class="more-link">Read scene</a>
                    </div>
                </div>
            </div>

        </div>
            <div class="line"></div>
            </div>
         <div class="row">

    {% else  %}
<div class="col-md-4 feeds">
    <div class="mpost clearfix" style="font-family: Courier; text-align: justify; word-spacing: 4px">

        <div class="entry-c">
            <div class="entry-title">
                <h4 style="font-family: Courier; text-align: left; word-spacing: 4px"><a href=""> {{ proposed.title }} </a></h4>
            </div>
            <ul class="entry-meta clearfix">
                <li><i class="icon-user"></i>Created by {{ proposed.publishedBy.firstname }} {{ proposed.publishedBy.lastname }} {{ proposed.createdAt | date('d M Y  h:i:s') }}</li>
            </ul>
            <div class="entry-content">
                {{ proposed.content  | striptags | raw | slice(0, 100) }}
                <br> <a href="{{ path('ns_web_proposed_scenes_view', { 'id': proposed.id }) }}" class="more-link">Read scene</a>
            </div>
        </div>
    </div>
</div>


    {% endif %}


    {% endfor %}

    </div>

{% endif %}

