<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    {% stylesheets filter="scssphp, cssrewrite" output="css/compiled/app.css"
    'assets/front/css/bootstrap.css'
    'assets/front/css/style.css'
    'assets/front/css/nivo-slider.css'
    'assets/front/css/dark.css'
    'assets/front/css/font-icons.css'
    'assets/front/css/animate.css'
    'assets/front/css/magnific-popup.css'
    'assets/front/css/components/select-boxes.css'

    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}



    {% block stylesheet %} {% endblock %}


    <!-- Bootstrap Switch CSS -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/front/css/components/bs-switches.css')) }}" type="text/css" />

    <!-- Radio Checkbox Plugin -->
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/front/css/components/radio-checkbox.css')) }}" type="text/css" />
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/front/css/responsive.css')) }}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    <title>{% block title %} {% endblock %}</title>

</head>

<body class="stretched side-header side-header-right open-header push-wrapper close-header-on-scroll">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">
    <!-- Top Bar
		============================================= -->
    <div id="top-bar">

        <div class="container clearfix">

            <div class="col_half nobottommargin">

                <!-- Top Links
                ============================================= -->
                <div class="top-links">
                    <ul>

                        <li >
                            <a style="color: #0b2e13;" href="#" data-toggle="dropdown" class="dropdown-toggle">CHOOSE YOUR COUNTRY <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Mali - French</a></li>
                                <li><a href="#">Nigeria - English</a></li>
                                <li><a href="#">Angola - Portuguese</a></li>
                            </ul>
                        </li>

                    </ul>
                </div><!-- .top-links end -->
            </div>

            <div class="col_half fright col_last nobottommargin">

                <!-- Top Social
                ============================================= -->
                <div id="top-social">
                    <ul>
                        <li><a target="_blank" href="https://fr-fr.facebook.com/nextscenes/" class="si-facebook"><span class="ts-icon"><i class="icon-facebook"></i></span><span class="ts-text">Facebook</span></a></li>
                        <li><a href="https://twitter.com/nextscenes" class="si-twitter"><span class="ts-icon"><i class="icon-twitter"></i></span><span class="ts-text">Twitter</span></a></li>
                        <li><a href="#" class="si-instagram"><span class="ts-icon"><i class="icon-instagram2"></i></span><span class="ts-text">Instagram</span></a></li>
                        <li><a href="tel:+223 74 14 15 14" class="si-call"><span class="ts-icon"><i class="icon-call"></i></span><span class="ts-text">+223 74 14 15 14</span></a></li>
                        <li><a href="mailto:info@nextscenes.com" class="si-email3"><span class="ts-icon"><i class="icon-email3"></i></span><span class="ts-text">info@nextscenes.com</span></a></li>
                    </ul>
                </div><!-- #top-social end -->

            </div>

        </div>

    </div><!-- #top-bar end -->
    <div class="clearfix"></div><br>
    <div id="section header-stick bottommargin-lg clearfix">
        <div class="container ">
            <div class="col-md-12">
                <div class="col-md-4 col-sm-12" style="font-size: 18px; font-family: Courier !important; font-weight: bold; color: red"><br><br>
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="navbar-top-links">
                            <a href="{{ path('fos_user_security_login') }}">LOGIN</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{{ path('fos_user_registration_register') }}">REGISTER</a>
                        </div>
                    {% endif %}

                </div>
                <div class="col-md-4 col-sm-6">
                    <a href="{{ path('ns_web_homepage') }}"><img src="{{ absolute_url(asset('assets/front/images/logo.png')) }}" alt="" /></a>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div id="header-trigger" class="side-panel-trigger">
                        <a href="#"><i class="icon-reorder"></i> </a>
                    </div>

                    {% block header %}
                       {{ render(controller('NSForumBundle:Forum:Menu')) }}
                   {% endblock %}

                </div>
            </div>

        </div>


        {% block def %}
            <br> <div class="line nomargin"></div>

            <div class="container clearfix">
                <br>
                <div class="row">
                    <div class="col-md-12" style="text-align: justify;">
                        <font face="courier new" size="3">
                            <span style="font-size: 19px; display: block; font-weight: bold">What is nextscenes?</span>
                            Nextscenes® is an online multilingual platform for creative writing, where writers allow readers to help them propose the next scene of a story or write their own stories
                        </font>
                    </div>

                </div>
            </div>
        {% endblock %}

        <br> <div class="line nomargin"></div>

    </div>
    <div class="row">&nbsp;</div>
    {% block message %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="container">
                <div class="alert alert-danger">
                    {{ flashMessage }}
                </div>
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="container">
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            </div>
        {% endfor %}

    {% endblock %}

    {% block slider %} {% endblock %}
    {% block page_title %} {% endblock %}

    <section id="content">
        {% block content %} {% endblock %}
    </section>

    <footer>
        <div id="copyrights">

            <div class="container clearfix">

                <div class="col_half">
                    Copyrights © 2018 All Rights Reserved by nextscenes.com<br>
                    <div class="copyright-links"><a href="{{ path('ns_web_terms_of_use') }}">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                </div>

                <div class="col_half col_last tright">
                    <div class="fright clearfix">
                        <a href="#" class="social-icon si-small si-borderless si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-pinterest">
                            <i class="icon-pinterest"></i>
                            <i class="icon-pinterest"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-vimeo">
                            <i class="icon-vimeo"></i>
                            <i class="icon-vimeo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-github">
                            <i class="icon-github"></i>
                            <i class="icon-github"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-yahoo">
                            <i class="icon-yahoo"></i>
                            <i class="icon-yahoo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>

                    <div class="clear"></div>

                    <i class="icon-envelope2"></i> info@nextscenes.com <span class="middot">·</span> <i class="icon-headphones"></i> +223 73 03 39 39 <span class="middot">·</span>
                </div>

            </div>

        </div>

    </footer>

</div>

<!-- Go To Top
	=============================================
<div id="gotoTop" class="icon-angle-up"></div> -->

<!-- External JavaScripts
============================================= -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.0';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{% javascripts filter='jsqueeze' output='js/compiled/main.js'
'assets/front/js/jquery.js'
'assets/front/js/plugins.js'
'assets/front/js/jquery.nivo.js'
'assets/front/js/jquery.gmap.js'



%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
<!-- Select-Boxes Plugin -->
<script type="text/javascript" src="{{ absolute_url(asset('assets/front/js/components/select-boxes.js')) }}"></script>

<!-- Select-Splitter Plugin -->
<script type="text/javascript" src="{{ absolute_url(asset('assets/front/js/components/selectsplitter.js')) }}"></script>
<!-- Bootstrap Switch Plugin -->
<script type="text/javascript" src="{{ absolute_url(asset('assets/front/js/components/bs-switches.js')) }}"></script>
<script type="text/javascript" src="{{ absolute_url(asset('assets/front/js/jquery.nivo.js')) }}"></script>
<script type="text/javascript" src="{{ absolute_url(asset('assets/front/js/functions.js')) }}"></script>
{% block scripts %} {% endblock %}
</body>
</html>